# .mrconfig file for TDF administration/foundational repositories

[checkouts/adm/dcount]
checkout = git clone 'git://gerrit.libreoffice.org/dcount' 'dcount'

[checkouts/adm/gerrit-etc]
checkout = git clone 'git://gerrit.libreoffice.org/gerrit-etc' 'gerrit-etc'

[checkouts/adm/voting]
checkout = git clone 'git://gerrit.libreoffice.org/voting' 'voting'

[checkouts/adm/gitdm-config]
checkout = git clone 'git://anongit.freedesktop.org/libreoffice/contrib/gitdm-config' 'gitdm-config'

[checkouts/adm/svn-to-git]
checkout = git clone 'git://anongit.freedesktop.org/libreoffice/contrib/svn-to-git' 'svn-to-git'

[checkouts/adm/salt-states-base]
checkout = git clone 'https://github.com/tdf/salt-states-base.git' 'salt-states-base'

[checkouts/adm/tmb]
checkout = git clone 'https://github.com/tdf/tmb.git' 'tmb'

[checkouts/adm/misc]
checkout = git clone 'https://github.com/tdf/misc.git' 'misc'

[checkouts/adm/pygnclib]
checkout = git clone 'https://github.com/tdf/pygnclib.git' 'pygnclib'

[checkouts/adm/tdc]
checkout = git clone 'https://github.com/tdf/tdc.git' 'tdc'

[checkouts/adm/salt-pillar-base]
checkout = git clone 'https://github.com/tdf/salt-pillar-base.git' 'salt-pillar-base'

[checkouts/adm/jgnucashlib]
checkout = git clone 'https://github.com/tdf/jgnucashlib.git' 'jgnucashlib'

[checkouts/adm/pymime]
checkout = git clone 'https://github.com/tdf/pymime.git' 'pymime'

