# .mrconfig file for LibreOffice-related development repositories

# config file to generate stats exactly as the old scripts before -
# limited to LibreOffice core repo and LibreOffice Online repo
#  run as: mr log -p --since='Jan 1 19:00:00 2013' | \
#          gitdm -u -X '\.(sdf|po|dic)\$' -b . \
#                -x stats/git-hackers-data.csv \
#                -o stats/git-hackers-reports.txt \
#                -H stats/hackers.csv


[checkouts/dev/core]
checkout = git clone 'git://gerrit.libreoffice.org/core' 'core'

