# .mrconfig file for LibreOffice-related development repositories

[checkouts/dev/core]
checkout = git clone 'git://gerrit.libreoffice.org/core' 'core'

[checkouts/dev/benchmark]
checkout = git clone 'git://gerrit.libreoffice.org/benchmark.git' 'benchmark'

[checkouts/dev/buildbot]
checkout = git clone 'git://gerrit.libreoffice.org/buildbot' 'buildbot'

[checkouts/dev/cppunit]
checkout = git clone 'git://gerrit.libreoffice.org/cppunit' 'cppunit'

[checkouts/dev/dev-tools]
checkout = git clone 'git://gerrit.libreoffice.org/dev-tools' 'dev-tools'

[checkouts/dev/gnu-make-lo]
checkout = git clone 'git://gerrit.libreoffice.org/gnu-make-lo' 'gnu-make-lo'

[checkouts/dev/impress_remote]
checkout = git clone 'git://gerrit.libreoffice.org/impress_remote' 'impress_remote'

[checkouts/dev/libabw]
checkout = git clone 'git://gerrit.libreoffice.org/libabw' 'libabw'

[checkouts/dev/libabw-test]
checkout = git clone 'git://gerrit.libreoffice.org/libabw-test' 'libabw-test'

[checkouts/dev/libcdr]
checkout = git clone 'git://gerrit.libreoffice.org/libcdr' 'libcdr'

[checkouts/dev/libcdr-test]
checkout = git clone 'git://gerrit.libreoffice.org/libcdr-test' 'libcdr-test'

[checkouts/dev/libetonyek]
checkout = git clone 'git://gerrit.libreoffice.org/libetonyek' 'libetonyek'

[checkouts/dev/libetonyek-test]
checkout = git clone 'git://gerrit.libreoffice.org/libetonyek-test' 'libetonyek-test'

[checkouts/dev/libexttextcat]
checkout = git clone 'git://gerrit.libreoffice.org/libexttextcat' 'libexttextcat'

[checkouts/dev/libfreehand]
checkout = git clone 'git://gerrit.libreoffice.org/libfreehand' 'libfreehand'

[checkouts/dev/libfreehand-test]
checkout = git clone 'git://gerrit.libreoffice.org/libfreehand-test' 'libfreehand-test'

[checkouts/dev/libgltf]
checkout = git clone 'git://gerrit.libreoffice.org/libgltf' 'libgltf'

[checkouts/dev/libmspub]
checkout = git clone 'git://gerrit.libreoffice.org/libmspub' 'libmspub'

[checkouts/dev/libmspub-test]
checkout = git clone 'git://gerrit.libreoffice.org/libmspub-test' 'libmspub-test'

[checkouts/dev/libpagemaker]
checkout = git clone 'git://gerrit.libreoffice.org/libpagemaker' 'libpagemaker'

[checkouts/dev/libpagemaker-test]
checkout = git clone 'git://gerrit.libreoffice.org/libpagemaker-test' 'libpagemaker-test'

[checkouts/dev/libqxp]
checkout = git clone 'git://gerrit.libreoffice.org/libqxp' 'libqxp'

[checkouts/dev/libqxp-test]
checkout = git clone 'git://gerrit.libreoffice.org/libqxp-test' 'libqxp-test'

[checkouts/dev/libvisio]
checkout = git clone 'git://gerrit.libreoffice.org/libvisio' 'libvisio'

[checkouts/dev/libvisio-test]
checkout = git clone 'git://gerrit.libreoffice.org/libvisio-test' 'libvisio-test'

[checkouts/dev/libzmf]
checkout = git clone 'git://gerrit.libreoffice.org/libzmf' 'libzmf'

[checkouts/dev/libzmf-test]
checkout = git clone 'git://gerrit.libreoffice.org/libzmf-test' 'libzmf-test'

[checkouts/dev/lode]
checkout = git clone 'git://gerrit.libreoffice.org/lode' 'lode'

[checkouts/dev/mso-dumper]
checkout = git clone 'https://github.com/LibreOffice/mso-dumper.git' 'mso-dumper'

[checkouts/dev/odfundiff]
checkout = git clone 'git://gerrit.libreoffice.org/odfundiff' 'odfundiff'

[checkouts/dev/officeotron]
checkout = git clone 'git://gerrit.libreoffice.org/officeotron' 'officeotron'

[checkouts/dev/online]
checkout = git clone 'git://gerrit.libreoffice.org/online' 'online'

[checkouts/dev/perfdbmgr]
checkout = git clone 'git://gerrit.libreoffice.org/perfdbmgr' 'perfdbmgr'

[checkouts/dev/sdk-examples]
checkout = git clone 'git://gerrit.libreoffice.org/sdk-examples' 'sdk-examples'

[checkouts/dev/si-gui]
checkout = git clone 'git://gerrit.libreoffice.org/si-gui' 'si-gui'

[checkouts/dev/test-files]
checkout = git clone 'git://gerrit.libreoffice.org/test-files' 'test-files'

[checkouts/dev/ui-test]
checkout = git clone 'git://gerrit.libreoffice.org/ui-test' 'ui-test'

[checkouts/dev/noa-libre]
checkout = git clone 'https://github.com/LibreOffice/noa-libre.git' 'noa-libre'

[checkouts/dev/loeclipse]
checkout = git clone 'https://github.com/LibreOffice/loeclipse.git' 'loeclipse'

[checkouts/dev/lightproof]
checkout = git clone 'git://anongit.freedesktop.org/libreoffice/lightproof' 'lightproof'

[checkouts/dev/libcmis]
checkout = git clone 'https://github.com/tdf/libcmis.git' 'libcmis'

[checkouts/dev/tb3-django]
checkout = git clone 'git://gerrit.libreoffice.org/tb3-django.git' 'tb3-django'

[checkouts/dev/ui-test]
checkout = git clone 'git://gerrit.libreoffice.org/ui-test.git' 'ui-test'
