# .mrconfig file for LibreOffice-related development repositories

[checkouts/dev/core]
checkout = git clone 'git://gerrit.libreoffice.org/core' 'core'

[checkouts/dev/benchmark]
checkout = git clone 'git://gerrit.libreoffice.org/benchmark' 'benchmark'

[checkouts/dev/buildbot]
checkout = git clone 'git://gerrit.libreoffice.org/buildbot' 'buildbot'

[checkouts/dev/cppunit]
checkout = git clone 'git://gerrit.libreoffice.org/cppunit' 'cppunit'

[checkouts/dev/tools]
checkout = git clone 'git://gerrit.libreoffice.org/dev-tools' 'tools'

[checkouts/dev/lo]
checkout = git clone 'git://gerrit.libreoffice.org/gnu-make-lo' 'lo'

[checkouts/dev/remote]
checkout = git clone 'git://gerrit.libreoffice.org/impress_remote' 'remote'

[checkouts/dev/libabw]
checkout = git clone 'git://gerrit.libreoffice.org/libabw' 'libabw'

[checkouts/dev/test]
checkout = git clone 'git://gerrit.libreoffice.org/libabw-test' 'test'

[checkouts/dev/libcdr]
checkout = git clone 'git://gerrit.libreoffice.org/libcdr' 'libcdr'

[checkouts/dev/test]
checkout = git clone 'git://gerrit.libreoffice.org/libcdr-test' 'test'

[checkouts/dev/libetonyek]
checkout = git clone 'git://gerrit.libreoffice.org/libetonyek' 'libetonyek'

[checkouts/dev/test]
checkout = git clone 'git://gerrit.libreoffice.org/libetonyek-test' 'test'

[checkouts/dev/libexttextcat]
checkout = git clone 'git://gerrit.libreoffice.org/libexttextcat' 'libexttextcat'

[checkouts/dev/libfreehand]
checkout = git clone 'git://gerrit.libreoffice.org/libfreehand' 'libfreehand'

[checkouts/dev/test]
checkout = git clone 'git://gerrit.libreoffice.org/libfreehand-test' 'test'

[checkouts/dev/libgltf]
checkout = git clone 'git://gerrit.libreoffice.org/libgltf' 'libgltf'

[checkouts/dev/libmspub]
checkout = git clone 'git://gerrit.libreoffice.org/libmspub' 'libmspub'

[checkouts/dev/test]
checkout = git clone 'git://gerrit.libreoffice.org/libmspub-test' 'test'

[checkouts/dev/libpagemaker]
checkout = git clone 'git://gerrit.libreoffice.org/libpagemaker' 'libpagemaker'

[checkouts/dev/test]
checkout = git clone 'git://gerrit.libreoffice.org/libpagemaker-test' 'test'

[checkouts/dev/libvisio]
checkout = git clone 'git://gerrit.libreoffice.org/libvisio' 'libvisio'

[checkouts/dev/test]
checkout = git clone 'git://gerrit.libreoffice.org/libvisio-test' 'test'

[checkouts/dev/lode]
checkout = git clone 'git://gerrit.libreoffice.org/lode' 'lode'

[checkouts/dev/dumper]
checkout = git clone 'git://gerrit.libreoffice.org/mso-dumper' 'dumper'

[checkouts/dev/officeotron]
checkout = git clone 'git://gerrit.libreoffice.org/officeotron' 'officeotron'

[checkouts/dev/online]
checkout = git clone 'git://gerrit.libreoffice.org/online' 'online'

[checkouts/dev/perfdbmgr]
checkout = git clone 'git://gerrit.libreoffice.org/perfdbmgr' 'perfdbmgr'

[checkouts/dev/examples]
checkout = git clone 'git://gerrit.libreoffice.org/sdk-examples' 'examples'

[checkouts/dev/gui]
checkout = git clone 'git://gerrit.libreoffice.org/si-gui' 'gui'

[checkouts/dev/files]
checkout = git clone 'git://gerrit.libreoffice.org/test-files' 'files'

[checkouts/dev/noa-libre]
checkout = git clone 'https://github.com/LibreOffice/noa-libre.git' 'noa-libre'

[checkouts/dev/loeclipse]
checkout = git clone 'https://github.com/LibreOffice/loeclipse.git' 'loeclipse'

[checkouts/dev/lightproof]
checkout = git clone 'git://anongit.freedesktop.org/libreoffice/lightproof' 'lightproof'

[checkouts/dev/libcmis]
checkout = git clone 'https://github.com/tdf/libcmis.git' 'libcmis'
