# .mrconfig file for LibreOffice-related gitlab

[checkouts/gitlab/mdds]
checkout = git clone 'https://gitlab.com/mdds/mdds.git' 'mdds'

[checkouts/gitlab/orcus]
checkout = git clone 'https://gitlab.com/orcus/orcus.git' 'orcus'

[checkouts/gitlab/ixion]
checkout = git clone 'https://gitlab.com/ixion/ixion.git' 'ixion'

