# .mrconfig file for TDF localization-related repositories

[checkouts/l10n/templates]
checkout = git clone 'git://gerrit.libreoffice.org/templates' 'templates'

[checkouts/l10n/OmegaT]
checkout = git clone 'https://github.com/LibreOffice/OmegaT.git' 'OmegaT'

[checkouts/l10n/dict_nds]
checkout = git clone 'https://github.com/tdf/dict_nds.git' 'dict_nds'

[checkouts/l10n/dictionaries]
checkout = git clone 'git://gerrit.libreoffice.org/dictionaries' 'dictionaries'

[checkouts/l10n/help]
checkout = git clone 'git://gerrit.libreoffice.org/help' 'help'

[checkouts/l10n/translations]
checkout = git clone 'git://gerrit.libreoffice.org/translations' 'translations'

