# .mrconfig file for TDF website-related repositories

[checkouts/web/bugzilla]
checkout = git clone 'git://gerrit.libreoffice.org/bugzilla' 'bugzilla'

[checkouts/web/cppcheck-reports]
checkout = git clone 'git://gerrit.libreoffice.org/cppcheck-reports.git' 'cppcheck-reports'

[checkouts/web/devcentral]
checkout = git clone 'git://gerrit.libreoffice.org/devcentral' 'devcentral'

[checkouts/web/website]
checkout = git clone 'git://anongit.freedesktop.org/libreoffice/website' 'website'

[checkouts/web/tdf.exttempsitepolicy]
checkout = git clone 'https://github.com/tdf/tdf.exttempsitepolicy.git' 'tdf.exttempsitepolicy'

[checkouts/web/tdf.extensionuploadcenter]
checkout = git clone 'https://github.com/tdf/tdf.extensionuploadcenter.git' 'tdf.extensionuploadcenter'

[checkouts/web/tdf.templateuploadcenter]
checkout = git clone 'https://github.com/tdf/tdf.templateuploadcenter.git' 'tdf.templateuploadcenter'

[checkouts/web/tdf.siteaccountform]
checkout = git clone 'https://github.com/tdf/tdf.siteaccountform.git' 'tdf.siteaccountform'

[checkouts/web/mediawiki-bugzilla]
checkout = git clone 'https://github.com/tdf/mediawiki-bugzilla.git' 'mediawiki-bugzilla'

[checkouts/web/tdf.extensiontemplatecentertheme]
checkout = git clone 'https://github.com/tdf/tdf.extensiontemplatecentertheme.git' 'tdf.extensiontemplatecentertheme'

[checkouts/web/tdf.extensionsuploadcenter]
checkout = git clone 'https://github.com/tdf/tdf.extensionsuploadcenter.git' 'tdf.extensionsuploadcenter'

[checkouts/web/tdf.extensiontemplatesitepolicy]
checkout = git clone 'https://github.com/tdf/tdf.extensiontemplatesitepolicy.git' 'tdf.extensiontemplatesitepolicy'

[checkouts/web/tdf.extensionsitepolicy]
checkout = git clone 'https://github.com/tdf/tdf.extensionsitepolicy.git' 'tdf.extensionsitepolicy'

[checkouts/web/tdf.conferencepolicy]
checkout = git clone 'https://github.com/tdf/tdf.conferencepolicy.git' 'tdf.conferencepolicy'

[checkouts/web/odfauthors.policy]
checkout = git clone 'https://github.com/tdf/odfauthors.policy.git' 'odfauthors.policy'

[checkouts/web/cioppino.twothumbs]
checkout = git clone 'https://github.com/tdf/cioppino.twothumbs.git' 'cioppino.twothumbs'

[checkouts/web/tdf.siteaccountrequest]
checkout = git clone 'https://github.com/tdf/tdf.siteaccountrequest.git' 'tdf.siteaccountrequest'

[checkouts/web/libreoffice-ext-templ-website]
checkout = git clone 'https://github.com/tdf/libreoffice-ext-templ-website.git' 'libreoffice-ext-templ-website'

[checkouts/web/cms-code]
checkout = git clone 'https://github.com/tdf/cms-code.git' 'cms-code'

[checkouts/web/www-bugassistant]
checkout = git clone 'https://github.com/tdf/www-bugassistant.git' 'www-bugassistant'

[checkouts/web/slideshare-python]
checkout = git clone 'https://github.com/tdf/slideshare-python.git' 'slideshare-python'

[checkouts/web/silverstripe-subsites]
checkout = git clone 'https://github.com/tdf/silverstripe-subsites.git' 'silverstripe-subsites'

[checkouts/web/www-opengrok]
checkout = git clone 'https://github.com/tdf/www-opengrok.git' 'www-opengrok'

[checkouts/web/cms-themes]
checkout = git clone 'https://github.com/tdf/cms-themes.git' 'cms-themes'

[checkouts/web/silverstripe-news]
checkout = git clone 'https://github.com/tdf/silverstripe-news.git' 'silverstripe-news'

[checkouts/web/silverstripe-googlesitemaps]
checkout = git clone 'https://github.com/tdf/silverstripe-googlesitemaps.git' 'silverstripe-googlesitemaps'

[checkouts/web/silverstripe-recaptcha]
checkout = git clone 'https://github.com/tdf/silverstripe-recaptcha.git' 'silverstripe-recaptcha'

[checkouts/web/silverstripe-userforms]
checkout = git clone 'https://github.com/tdf/silverstripe-userforms.git' 'silverstripe-userforms'

[checkouts/web/silverstripe-spamprotection]
checkout = git clone 'https://github.com/tdf/silverstripe-spamprotection.git' 'silverstripe-spamprotection'

[checkouts/web/silverstripe-cms]
checkout = git clone 'https://github.com/tdf/silverstripe-cms.git' 'silverstripe-cms'

[checkouts/web/sapphire]
checkout = git clone 'https://github.com/tdf/sapphire.git' 'sapphire'

[checkouts/web/silverstripe-translatable]
checkout = git clone 'https://github.com/tdf/silverstripe-translatable.git' 'silverstripe-translatable'

[checkouts/web/box-themes]
checkout = git clone 'https://github.com/tdf/box-themes.git' 'box-themes'

[checkouts/web/silverstripe-cmsworkflow]
checkout = git clone 'https://github.com/tdf/silverstripe-cmsworkflow.git' 'silverstripe-cmsworkflow'

[checkouts/web/DataObjectManager]
checkout = git clone 'https://github.com/tdf/DataObjectManager.git' 'DataObjectManager'

[checkouts/web/Uploadify]
checkout = git clone 'https://github.com/tdf/Uploadify.git' 'Uploadify'

[checkouts/web/box-cms-files]
checkout = git clone 'https://github.com/tdf/box-cms-files.git' 'box-cms-files'

[checkouts/web/silverstripe-forum]
checkout = git clone 'https://github.com/tdf/silverstripe-forum.git' 'silverstripe-forum'

[checkouts/web/EventCalendar]
checkout = git clone 'https://github.com/tdf/EventCalendar.git' 'EventCalendar'

[checkouts/web/silverstripe-legacydatetimefields]
checkout = git clone 'https://github.com/tdf/silverstripe-legacydatetimefields.git' 'silverstripe-legacydatetimefields'

[checkouts/web/silverstripe-concurrentediting]
checkout = git clone 'https://github.com/tdf/silverstripe-concurrentediting.git' 'silverstripe-concurrentediting'

